#home.content.active{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    width: 90%;
    max-width: 700px;
    margin: 2rem auto;
}
.image-container{
    /* padding: 5rem; */
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image-container img{
    
    width: 250px;
    height: 250px;
    filter: grayscale(100%);
    border-radius: 50%;
}
.image-container img:hover{
    filter: grayscale(0%);
}
.image-container::before,
.image-container::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--green)
    );
    animation: revolve 4s linear infinite;
}
.image-container::after{
    animation-delay: 2s;
}
@keyframes revolve  {
    from{

        transform: rotate(0deg);
    }
    to{
         transform: rotate(360deg);
    }  
}
.image-container img{
    
    width: calc(100%-15px);
    height: calc(100%-15px);
    border: 50%;
    object-fit: cover;
    z-index: 2;
    
}
.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    /* border: 2px solid rgb(218, 13, 13); */
}
.details h2{
    font-size: 2.3rem;
}
.details h2 span{
    background: linear-gradient(to right, var(--green),var(--white));
    padding-bottom: 2px;
    border-bottom: 4px solid var(--green);
    color: transparent;
    -webkit-background-clip: text;
}
.details h3{
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;

}
.details h3 span{
    color: var(--green);
    display: inline-block;
    min-width: 130px;
    overflow: hidden;
    white-space: nowrap;
}
.details h3 span::after{
    content: "|";
    margin-left: 5px;
    animation: blink 0.7s steps(1) infinite;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.details p{
    font-size: 1.3rem;
    text-align: justify;
}
.bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bottom button{
    width: 12rem;
    padding: 0.8rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    background: var(--green);
    cursor: pointer;
    border: none;
    transition: all ease 0.3s;
}
.bottom .button:hover{
    color: var(--white);
    background: transparent;
    box-shadow: 3px 3px 3px var(--green), -3px 3px 3px var(--green),3px -3px 3px var(--green),-3px -3px 3px var(--green);

}
.social-icons{
    display: flex;
     justify-content: space-evenly;
    gap: 20px;
    font-size: 2.5rem;
}
.social-icons a{
    color: var(--green);
    border: 2px solid var(--green);
    transition: all ease 0.3s;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    transition: all ease 0.3s;
}
.social-icons a i{
    font-size: 3rem;
}
.social-icons a:hover{
    color: var(--primary);
    background-color: var(--green);
    scale: 105%;
}
@media screen and (width>=768px) {
    #home.content.active{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        gap: 3.5rem;
        width: 100%;
        max-width: 100%;
        /* border: 2px solid red; */

    }
    .details h2{
        font-size: 3rem;
    }
    .details h3{
        font-size: 2.5rem;
    }
    .social-icons{
        font-size: 3rem;
    }
    .bottom{
        margin: 0.5rem 0rem 0rem 0rem;
        flex-direction: row;
        gap: 20px;
    }
    .bottom button{
        border-radius: 50px;
    }
    
}
/* 769-1023 phir se edit */
@media (width>=769px)and (width<=1023px) {
     .image-container img{
    
    width: 200px;
    height: 200px;
    
    filter: grayscale(100%);
    border-radius: 50%;
    }
    .image-container{
    
    width: 220px;
    height: 220px;
    
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  } 
   
    
}
 .navlink.active{
    color: var(--green);
}
.content{
    display: none;
}
.content.active{
    display: block;
}
@media screen and (width>=1024px) {
    #home.content.active{
        border: none;
        margin: 3rem auto;
        
    }
    .image-container{
        width: 400px;
        height: 400px;
    }
    .details{
       

        gap: 15px;
    }
    .details h2{
        font-size: 3rem;
    }
    .details h3{
        font-size: 2.8rem;
    }
    .details p{
        font-size: 1.6rem;
    }
    .image-container img{
        width: 375px;
        height: 375px;
    }
    
}

